.orz-slider{
	width: 1000px;
	position: relative;
	img{
		width: 100%;
	}
	.left,.right{
		width: 3%;
		position: absolute;
		bottom: 45%;
		background-color: rgba(#ccc,0.1);
		border-radius: 50%;
		&:hover{
			background-color: rgba(#ccc,0.8);
			cursor: pointer;
		}
	}
	.left{
		left: 1%;
	}
	.right{
		right: 1%;
	}
	ul{
		position: absolute;
		bottom: 1%;
		left: 50%;
	}
	li{
		list-style: none;
		display: inline-block;
		position: relative;
		right: 50%;
		margin: 0px 5px;
		cursor: pointer;
	}
	.point{
		height: 10px;
		width: 10px;
		background-color: rgba(white,0.2);
		border-radius: 50%;
		&:hover{
			background-color: #80bd01;
		}
		border: 1px solid #80bd01;
	}
	.point-active{
		background-color: #80bd01;
	}

}