.orz-list{
	$bg-color:#ddd;
	$bg-color-darker:darken($bg-color, 8%);
	$bg-color-lighter:lighten($bg-color, 8%);
	$theme-color:#80bd01;

	width: 300px;
	padding: 50px;
	background-color: $bg-color;
	li{
		list-style: none;
		display: block;
		font-family: Microsoft Yahei;
		font-weight: bold;
		color: black;
		height: 40px;
		line-height: 40px;
		font-size: 16px;
		margin-bottom: 10px;
		border-left: solid #444 2px;
		padding-left: 8px;
		&:hover{
			color: $theme-color;
			border-left: solid $theme-color 2px;
		}
	}
	.darker{
	background-color: $bg-color-darker;
	}
	.lighter{
	background-color: $bg-color-lighter;
	}
	
}